<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>StarWars blog</title>

    <!-- Pico.css -->
    <!-- href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css" -->
    <link rel="stylesheet" href="pico.min.css">
  </head>

  <body>
    <header class="container">
        <nav>
          <ul>
            <li>
                <a href="index.html" class="contrast secondary">
                  <div>
                  <h1>StarWars</h1>
                </div>
                </a>
            </li>
          </ul>
          <ul>
            <li><a href="index.html" class="contrast secondary">Posts</a></li>
            <li><a href="about.html" class="secondary">About</a></li>
            <li>
              <details class="dropdown">
                <summary role="button" class="outline secondary">☀</summary>
                <ul>
                  <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                  <li><a href="#" data-theme-switcher="light">Light</a></li>
                  <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </nav>
      
    </header>

    MAIN-TO-REPLACE

    <!-- Minimal theme switcher -->
    <script src="minimal-theme-switcher.js"></script>
  </body>
  </html>
